@kamaroolkarim:registry=https://npm.pkg.github.com

//npm.pkg.github.com/:_authToken=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
//npm.pkg.github.com/:always-auth=true

registry=https://registry.npmjs.org
